.subnavigation{
    margin-bottom: 8vh;
    background-color: yellow transparent!important;
}
.explore_category{
    margin-top: 4vh!important;
    /* background-color: rgba(255, 255, 2, 0.305); */
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.explore_category button{
    width: 97%;
    height: 100%;
    background-color:rgba(255,255,255,0.15);
    font-weight: 700;
    margin: 0;
}
.mood_category{
   
    display: flex ;
    justify-content: center;
    align-items: center;

}
.mood_category button{
   
   color: white!important;
   border: 1px solid rgb(41, 40, 40) !important;

}
.moodopt{
    /* background-color: yellow!important; */
    display: flex !important;
}
.mood_category button:hover{
    background-color: rgba(47, 0, 255, 0.37) !important;
  }
  .explore_category>button:hover{
    background-color: rgba(255, 255, 255, 0.36) !important;
    }
@media (max-width:894px){
    .subnavigation{
        margin-bottom: 3vh;
    }
    .explore_category{
        margin-top: 2vh!important;
    }
}
