.playlist{
    
   
}
.EmptyErr{
    position: relative!important;
    display:flex;
    align-items:center;
   text-align:center;
   justify-content:center;
    height: 80vh!important;
    width: 80vw !important;
}
.loader2 {
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    color: #FF3D00;
    letter-spacing: 2px;
    position: relative;
    box-sizing: border-box;
  }
  .loader2::after {
    content: 'Playlist is empty...';
    position: absolute;

    left: 0;
    top: 0;
    color: #FFF;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    animation: animloader2 3s linear infinite;
  }
  
  @keyframes animloader2 {
    0% {
      height: 100%;
    }
    100% {
      height: 0%;
    }
  }
  .backBtn{
    position: absolute!important;
    top:2vh;
    left:0;
   
  }