.singleplay {
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}

.singleplay .img1 {
  height: 100%;
  position: relative;
}
.controls{
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: space-around;
  width: 20%!important;
}
.details2{
  max-width: 40%;
  height: 100%;
  display: flex;
  gap: 1h;
  align-items: center;
  overflow: hidden;
}
.details2 h3{
  height: 60%;
  text-wrap: nowrap;
  overflow-x:hidden;
}
.details2 .h{
  align-items: center!important;
  flex-wrap: wrap;
}


.img2{
  
  margin-right: 2vw;
  width: 8vh;
  height: 8vh;
    border-radius: 50%;
  }
  .img20{
    margin-right: 2vw;
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    animation: rotation 5s infinite linear;
    
  }
  
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .likes2{
    width: 12%;
    height: 100%;
    display: flex;
    gap: 2%rem;
    align-items: center;
    justify-content: space-around;
   
  }
  .like:hover,.dislike:hover{
    scale: 1.1;
    transition:ease-in-out;
    
}
.icon:hover{
scale: 1.1;
transition: ease-in-out;
}
.icon{
  margin: 0 !important;;
}
@media (max-width: 768px){
  .controls {
    width:30% !important
  }
  .likes2{
    width:25% !important
  }
  .singleplay{
    height: 80vh !important;
  }
}
