.newPlaylist {
  margin-top: 4vh !important;
  width: 90%;
  border-radius: 50px !important;
  padding: 10px 0 !important;
  color: white !important;
  border: none !important;
  background-color: rgb(255 255 255 / 10%) !important;
  font-weight: 600 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}


.newPlaylist:hover {
  background-color: rgba(255, 255, 255, 0.168) !important;
}

.mainList {
  background: rgb(0, 0, 0);
  color: white;
  height: 100%;
   border-right: 1px solid rgb(44, 43, 43) !important;
}
.drawer>div {
  /* border-right: 1px solid rgb(44, 43, 43) !important; */
  margin: 0 !important; 
  background: black!important;
}

.loginSec{
  border-right: 1px solid rgb(44, 43, 43) !important;

}
.mix{padding: 3vh;}

.appbar{
  border-bottom: 1px solid rgb(29, 29, 29) !important;
  background-color: rgb(0, 0, 0)!important;
}
.css-1r8v3uq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
}

.db {
  padding: 0px !important;
}
.mainList li {
  border-radius: 1vw !important;
  padding: 1vh 0 !important;
  font-weight: bold !important;
  font-size: 37px !important;
}
.mainList li>div {
  color: white !important;
}
.mainList li:first-child {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.mainList li:hover {
  background-color: rgba(92, 92, 92, 0.641) !important;
}
.menuIcon {
  color: white !important;
  font-size: 25px !important;
}
.logo {
  padding-left: 3vw !important;
  color: yellow !important;
  width: 110%;
}
.searchInput {
  border: none !important;
}
.homeContainer {
  display: flex !important;
  color: white !important;
  width: 100% !important;
}
.divider hr {
  background-color: grey !important;
  width: 80%;
  height: 2px;
  margin-top: vh;
}

.divider {
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .appbar img {
    display: none !important;
  }
}
.searchInput {
  width: 34vw !important;
  height: 80% !important;
  display: flex;
  align-items: center;
  border-radius: 12px !important;
  border: 1px solid gray;
}

.inp input {
  width: 30vw !important;
}
.navigationbar {
  background-color: rgb(216, 13, 13) !important;
}

.DrawerHead {
  height: auto;
  border: none !important;
  border-bottom: 1px solid rgb(29, 29, 29) !important;
  top: -9px!important;
  background-color: blue;
}
.home-container {
  min-height: 100% !important;
  background-image: linear-gradient(rgb(7, 40, 73), black, black, black, black),
    url("https://wallpapertag.com/wallpaper/full/d/8/e/853265-best-white-background-wallpaper-1080x1920-for-iphone-6.jpg");
  width: 100% !important;
  position: relative !important;
}


@media (min-width: 300px) and (max-width: 600px) {
  .appbar>div {
    min-height: 48px;
    display: flex;
    justify-content: space-between;
  }
  .appbar img {
    display: none !important;
  }
  .mix {
    font-size: 28px;
  }
}

@media (max-width: 582px) {
  .musicbar {
    font-size: 15px !important;
  }
  .home-container {
    padding-left: 0 !important;
  }
}
@media (max-width: 300px) {
  .appbar input {
    width: 50% !important;
  }
  .appbar img {
    display: none !important;
  }
  .mix {
    font-size: 23px;
  }
  .details2 h3 {
    display: none;
  }
}

.appbar {
  justify-content: space-between!important;
}

.pagination {
  color: rgb(255, 255, 255) !important;
}
.pagination li button {
  color: rgb(255, 255, 255) !important;
}
.homeContainer header{
  background-color: rgb(0, 0, 0)!important;
}



.Home-sub-container {
  margin-top: 30px;
  min-height: 83vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}
